@media only screen and (min-width: 200px) and (max-width: 575px) {
  header {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }
  .headerLeft {
    margin-top: 15px;
    justify-content: center;
  }
  .logoContainer {
    padding: 10px;
    border-right: 1px solid #8a8282;
  }
  .locationSelector {
    padding: 10px 15px;
    align-items: center;
    text-align: left;
  }
  .locationSelector h3 {
    font-size: 15px;
    margin-bottom: 2px;
  }
  .locationSelector p {
    font-size: 13px;
  }
  .headerCenter {
    padding: 10px;
  }
  .searchBar {
    padding: 8px 8px;
    border: 1px solid #ccc6c6;
  }
  .headerBtn {
    background-color: rgb(189, 179, 179);
    padding: 10px;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .loginBtn,
  .cartBtn {
    padding: 10px 20px;
    font-size: 16px;
  }
  .cartBtn {
    margin-right: 0px;
  }
  .category-item {
    width: 25%;
  }
  .product-container {
    flex-basis: 47%;
  }
  .product-info h4 {
    font-size: 12px;
  }

  .footer-mid {
    flex-direction: column;
    padding: 0px 10px;
  }
  .footer-middlePart {
    flex-direction: column;
    padding: 0px 10px;
    gap: 5px;
  }
  .footer-middlePart h5 {
    padding: 0px;
  }
  .app-links {
    padding: 0px;
  }
  .social-iinks {
    padding: 0px;
  }
  .info-content {
    text-align: center;
    padding: 10px;
    margin: 50px 0px;
  }
}
