* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

header {
  display: flex;
  border-bottom: 1px solid #ebe2e2;
  align-items: center;
  gap: 40px;
}

.headerLeft {
  display: flex;
  align-items: center;
}

.logoContainer {
  padding: 28px 21.5px 24px;
  border-right: 1px solid #ebe2e2;
}

.locationSelector {
  display: flex;
  flex-direction: column;
  padding: 19px 5px 21px 45px;
  color: #333;
}

.locationSelector h3 {
  color: rgb(0, 0, 0);
  font-weight: 800;
  margin-bottom: 5px;
  font-size: 18px;
}

.locationSelector p {
  font-size: 13px;
  color: rgb(0, 0, 0);
}

.headerCenter {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.searchBar {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 12px 12px;
  background-color: #f8f8f8;
  border-radius: 10px;
  border: 1px solid #ece6e6;
}

.searchBar i {
  background: transparent;
}

.searchBar input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 18px;
}

.loginBtn {
  margin-right: 20px;
  padding: 10px 50px 10px 15px;
  background: transparent;
  border: none;
  font-size: 18px;
  color: rgb(54, 54, 54);
}

.cartBtn {
  margin-right: 40px;
  padding: 15px 10px;
  background-color: #034d15;
  border: none;
  font-size: 18px;
  font-weight: 500;
  color: white;
  border-radius: 10px;
}

.cartBtn i {
  margin-right: 4px;
}

.banner-container {
  max-width: 1280px;
  margin: auto;
}

.banner-container img {
  width: 100%;
}

.order-banner {
  max-width: 1280px;
  margin: auto;
  display: flex;
  gap: 20px;
  padding-left: 13px;
  padding-top: 10px;
}

.orderItem {
  width: 26.6%;
}

.orderItem img {
  width: 100%;
}

.categories-banner {
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.category-item {
  width: 10%;
}

.category-item img {
  width: 100%;
}

.products-section {
  max-width: 1280px;
  margin: auto;
  padding: 0px 10px;
}

.heading-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading-row h3 {
  padding: 16px 0px;
  color: rgb(28, 28, 28);
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.heading-row a {
  line-height: 32px;
  font-size: 20px;
  color: rgb(12, 131, 31);
  text-decoration: none;
}

.product-row {
  width: 100%;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.product-container {
  flex-basis: 14.7%;
  background: rgb(255, 255, 255);
  border: 0.5px solid rgb(232, 232, 232);
  box-shadow: rgba(0, 0, 0, 0.04) 2px 2px 8px;
  border-radius: 8px;
}

.product-image {
  width: 80%;
  margin: auto;
}

.product-image img {
  width: 100%;
}

.product-info {
  width: 88%;
  margin: auto;
}

.product-info p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 9px;
  color: rgb(54, 54, 54);
  width: 60px;
  background-color: #f3efef;
  display: flex;
  align-items: center;
  gap: 2px;
  border-radius: 3px;
  margin-left: 6px;
}

.product-info h4 {
  color: rgb(31, 31, 31);
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  width: 100%;
  height: 36px;
  margin-bottom: 8px;
  margin-top: 10px;
}

.product-buy-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.product-buy-section button {
  cursor: pointer;
  width: 66px;
  border: 1px solid rgb(49, 134, 22);
  height: 31px;
  color: rgb(49, 134, 22);
  font-weight: 600;
  font-size: 13px;
  border-radius: 5px;
  background: transparent;
}

.footer-mid {
  max-width: 1280px;
  margin: 48px auto auto;
}

.footer-mid-row1-left h3 {
  font-weight: 600;
  color: rgb(0, 0, 0);
  font-size: 18px;
  margin: 24px 0px;
}
