* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  border-bottom: 1px solid #ebe2e2;
  align-items: center;
  gap: 40px;
}

.headerLeft {
  display: flex;
  align-items: center;
}

.logoContainer {
  padding: 28px 21.5px 24px;
  border-right: 1px solid #ebe2e2;
}

.locationSelector {
  display: flex;
  flex-direction: column;
  padding: 19px 5px 21px 45px;
  color: #333;
}

.locationSelector h3 {
  color: rgb(0, 0, 0);
  font-weight: 800;
  margin-bottom: 5px;
  font-size: 18px;
}

.locationSelector p {
  font-size: 13px;
  color: rgb(0, 0, 0);
}

.headerCenter {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.searchBar {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 12px 12px;
  background-color: #f8f8f8;
  border-radius: 10px;
  border: 1px solid #ece6e6;
}

.searchBar i {
  background: transparent;
}

.searchBar input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 18px;
}

.loginBtn {
  margin-right: 20px;
  padding: 10px 50px 10px 15px;
  background: transparent;
  border: none;
  font-size: 18px;
  color: rgb(54, 54, 54);
}

.cartBtn {
  margin-right: 40px;
  padding: 15px 10px;
  background-color: #034d15;
  border: none;
  font-size: 18px;
  font-weight: 500;
  color: white;
  border-radius: 10px;
}

.cartBtn i {
  margin-right: 4px;
}

.banner-container {
  max-width: 1280px;
  margin: auto;
}

.banner-container img {
  width: 100%;
}

.order-banner {
  max-width: 1280px;
  margin: auto;
  display: flex;
  gap: 20px;
  padding-left: 13px;
  padding-top: 10px;
}

.orderItem {
  width: 26.6%;
}

.orderItem img {
  width: 100%;
}
